.snowPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.input-date {
}
.countTrue {
  background-color: red;
}
.countFalse {
  background-color: green;
}
.selectWidth {
  flex: 0;
  padding: 0 10px 2px;
  appearance: auto;
  min-width: 480px;
}
