.table {
  margin: auto;
  max-width: 1300px;
  width: 100%;
  /* box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);*/
  /* background-color: ; */
  /* border-radius: 5px;
  padding: 40px 40px 10px 10px;  */
}
.table > thead {
}
.table > tbody {
}
tbody::before {
  content: "";
  display: block;
  height: 15px;
}
td::before {
  content: "";
  display: block;
  margin: 4px;
}
td {
  text-align: left;
  padding-left: 30px;
}
td > img {
  margin-left: 10px;
}
tr {
  cursor: pointer;
}
tr:hover {
  background-color: #666767;
}
th{
  min-width: 70px
}

.burned{
  color: rgb(145, 39, 39);
  
}
.rejected{
  color: rgb(145, 39, 39);
  
}
.plsdelete{
  color: rgb(145, 39, 39);
  
}
.active{
  color: rgb(143, 208, 143);
}
.available{
  color: rgb(66, 176, 235);
}
.newfrom{
  color: rgb(66, 176, 235);
}
.new{
  color: rgb(66, 176, 235);
}
.donttouch  {
  color: rgb(223, 119, 63);
}
 .inreview {
  color: rgb(223, 119, 63);
}
.test{
  color:rgb(175, 173, 173)
}
select{
  font-size: 17px;
border-bottom: none !important;
font-weight: bolder;
}