.box-contaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 480px;
  padding: 30px 15px;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  width: 100%;
}
